NEXT_PUBLIC_SUPABASE_URL=https://lfljoxhdtndnfybfowor.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxmbGpveGhkdG5kbmZ5YmZvd29yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1MTAyNTIsImV4cCI6MjA4ODA4NjI1Mn0.FnBoIfgr93PQfaqBN-swkq5FEmY-QGk9KhLGHZXOCp4
